body {
    margin: 0 !important;
    padding: 0;
    height: 2000px;
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
   /* overflow-y: scroll; */
   scroll-behavior: smooth;
   scroll-snap-stop: always;
  }
  *, html {
    margin:0;
    padding:0;  
}

body::-webkit-scrollbar {
  /*display: none; /* for Chrome, Safari, and Opera */
}

html { scroll-behavior: smooth; }